@import '~antd/dist/antd.css';
body,.um-win{
    background: #ffffff;
}
.um-box.um-line{
    cursor:pointer;
}
.am-list-item img {
   height: 40px;
   width: 40px;
}
.u-table tr.tr-row-hover, .u-table tr:hover{
    cursor:pointer;
}
.u-table td span{
   display: inline-block;
}
